{{>layouts/header}}
<table class="table-info">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">No</th>
        <th scope="col">Title</th>
        <th scope="col">Writer</th>
        <th scope="col">Date</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <th scope="row">1</th>
        <td>Fuck Bong</td>
        <td>Keun Ho</td>
        <td>2023-07-19</td>
    </tr>
    <tr>
        <th scope="row">2</th>
        <td>I love it</td>
        <td>Bong Bong</td>
        <td>2023-07-19</td>
    </tr>

    </tbody>
</table>
<form action = "/content/new" method="get">
<button type="submit" class="btn btn-primary">New</button>
</form>
{{>layouts/footer}}
